.flights-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flights-list li {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.flights-list li h2 {
  margin: 0 0 5px 0;
  font-size: 18px;
}

.flights-list li a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: blue;
}

.flight-info {
  display: flex;
}

.flight-info img {
  float: left;
  margin-right: 20px;
  max-width: 10%;
  max-height: 10%;
  display: block;
}

.flight-data {
  display: inline-block;
}
