* {
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
}

.app {
  height: 100vh;
  background-color: black;
  display: grid;
  place-items: center;
}

.container {
  position: relative;
  height: 90vh;
  overflow: scroll;
  width: 50.625vh;
  border-radius: 20px;
  scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
  -ms-overflow-style: none; /* IE and Edge */
  -ms-scrollbar-width: none; /* Firefox */
  scrollbar-width: none; /* Firefox */
}
